.docs/**
bin/**
obj/**
.vscode/**
*.fsproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
*.log
*.vspscc
*.vssscc
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.iobj
*.iipdb
*.dll
*.exe
*.app
*.apk
*.aab
*.appx
*.appxbundle
*.msix
*.msixbundle
*.xap
*.vsix
*.zip
*.tar.gz
*.7z
*.rar
nuget.config